/* Style de l'entýte */
header{
	background:silver;
	width:1000px;
	}

/* Style des conteneur */
.conteneur{
	width:1000px;
	height:600px;
}
#accueil{
	background:#D3D3D3;
	display:block;
}
.info{
	display:none;
}
#simulation{
	background:#D3D3D3;
	display:none;
}

.information{
	position : absolute;
	left : 160px;
	width: 800px;
}
#traitement{
	background:#D3D3D3;
	display:none;
}

#eprouvette{
	background:aqua;
	width:60px;
	height:500px;
}

#bille{
	position:absolute;
	background : black;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width:20px;
    height:20px;
    left:35px;
    top:0px;
}
#valeurBille{
	display:hidden;
}

#sol{
	position:absolute;
	top:490px;
	width:70px;
	height:40px;
	left:80px;
}
#hauteurMaximaleAffiche{
	position:absolute;
	top:0px;
	width:70px;
	height:40px;
	left:80px;
}
#hauteurDepartAffiche{
	position:absolute;
	top:0px;
	width:70px;
	height:40px;
	left:80px;
}


#choixSimulation{
position:absolute;
width:300px
}

#resultat{
	position:absolute;
	top:250px;
	width:400px
}

#tableau{
	position:absolute;
	left:5px;
	width:400px;
	display:none;
}
table{
	border-collapse: collapse;
}
table tr td{
	border:1px solid black;
	padding:10px;
}
#canvas{
	position:absolute;
	width:400px;
	height:400px;
	display:none;
}
div#version{
	display:none;
	width:500px;
}

div#instructions{
	display:none;
	width:500px;
}
